.formBtn {
  width: 16.3rem;
  padding: 0.7rem;
  color: #fff;
  background-color: #d01c30;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.sidebar {
  background: transparent;
  border: none;
  display: flex;
  padding: 0.6rem 0.4rem;
  align-items: center;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
  width: 100%;
}

.filledActive {
  background-color: #cf1c34;
  border-radius: 0.2rem;
}

.outlineActive {
  background-color: transparent;
  border: 0.1rem solid #cf1c34;
  border-radius: 0.2rem;
}

.btnBooking {
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;
  color: #cf1c34;
  cursor: pointer;
  word-spacing: 0.1rem;
}

.btnBooking:hover {
  background-color: #cf1c34;
  color: #fff;
}

.btnStatus {
  border: none;
  border-radius: 1rem;
  padding: 0.3rem 2rem;
}

.btnPending {
  background-color: #f5d7db;
  color: #cf1c34;
}

.btnAssigned {
  background-color: #f9d65c4a;
  color: #de8908;
}

.btnCompleted {
  background-color: #80b0732b;
  color: #2b8945;
}

.btnNoShow {
  background-color: #d8d8d8a6;
  color: #333333;
}

.btnAccepted {
  background-color: #96bbe82b;
  color: #2356da;
}

.btnAll {
  background-color: #333333;
  color: #fff;
}

.btnAdd {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: 0.3s;
  border: 1.5px solid #000;
  color: #000;
  cursor: pointer;
}

.btnAdd:hover:enabled {
  background-color: #000;
  color: #fff;
}

.btnAdd:disabled {
  border: 1.5px solid #9e9a9a;
  color: #9e9a9a;
  cursor: no-drop;
}

.btnCancel {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1.5px solid #d01c30;
  background: transparent;
  margin: 1rem 2rem;
  color: #d01c30;
  transition: 0.5s;
}

.btnCancel:hover {
  background: #d01c30;
  color: #fff;
}

.btnApply {
  border: 1px solid #d01c30;
  color: #d01c30;
  padding: 0.7rem 1.2rem;
  border-radius: 10px;
  background: transparent;
  margin-left: 1rem;
  cursor: pointer;
}

.btnApply:hover {
  background: #d01c30;
  color: #fff;
}

.btnReset {
  border: 1px solid #6c757d;
  color: #6c757d;
  padding: 0.7rem 1.2rem;
  border-radius: 10px;
  background: transparent;
  margin-left: 1rem;
  cursor: pointer;
}

.btnReset:hover {
  background: #6c757d;
  color: #fff;
}

.sideBtn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.upload {
  border: 1px solid #dc3545;
  color: #dc3545;
  padding: 0.5rem;
  cursor: no-drop;
  border-radius: 0.7rem;
  margin: 2rem;
}

.collect {
  border: 1px solid #dc3545;
  color: #dc3545;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.7rem;
  margin: 2rem;
}

.collect:hover {
  background: #dc3545;
  color: #fff;
}

.btnSubmit {
  border: 1px solid #dc3545;
  color: #dc3545;
  background: transparent;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.7rem;
  margin-left: 1rem;
}

.btnSubmit:hover:enabled {
  background: #dc3545;
  color: #fff;
}

.btnSubmit:disabled {
  border: 1px solid #cd747d;
  color: #cd747d;
  cursor: no-drop;
}
